<br>
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h2>Who we are</h2>
            <p><b>Meet the Team:</b></p><br/>
            <li>Connor Pollock</li>
            <li>Johan Park</li>
            <li>Logan Kiser</li>
            <li>Victoria Dmyterko</li>
            <li>Meredith Kaur</li>
         </div>
      </div>
      <br/>



      </div>
   </div>
</br>
