<br>
<link href="build_recipe.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-sm-6" >
            <div id="ingredientListTitleDiv">
            </br>
            <h3 id="ingredientListTitle">Ingredients</h3>
            </div>
            <div id="ingredientList">

            </div>
        </div>
        <div class="col-sm-6" id="recipeList">
            <div id="recipeListTitleDiv">
                <br/>
            <h3 id="recipeListTitle">My Recipe</h3>
            </div>
            <div id="recipeListTable">
            </div>
        </div>
    </div>
</div>
<script src="buildRecipeScript.js"></script>
