<br>
<link href="build_recipe.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-sm-5" id="ingredientList">
            <h3 id="ingredientListTitle">Ingredients</h3>
        </div>
        <div class="col-sm-6" id="recipeList">
            <div id="recipeListTitleDiv">
            <h3 id="recipeListTitle">My Recipe</h3>
            </div>
        </div>
    </div>
</div>
<script src="buildRecipeScript.js"></script>
