<br>
<link href="build_recipe.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-sm-6" >
            <div id="ingredientListTitleDiv">
            </br>
            <h3 id="ingredientListTitle">Ingredients</h3>
            </div>
            <div id="ingredientList">

            </div>
        </div>
        <div class="col-sm-6" id="recipeListContainer">
        <div id="recipeList">
            <div id="recipeListTitleDiv">
                <br/>
            <h3 id="recipeListTitle"><input type="text" id="userRecipeName" placeholder="My Recipe"></input></h3>
            </div>
            <div id="recipeListTable" class="accordion" >
                <div class="card shadow" id="recipePlaceholder"><div class="card card-body">Add an ingredient to get started.</div></div>
            </div>
            
        </div>
        <button id="sendRecipeButton" class="btn btn-success" disabled>Add Recipe</button>
        </div>
    </div>
</div>
<script src="buildRecipeScript.js"></script>
