<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6" id="ingredientList">
            <p id="ingredientListTitle">INGREDIENT LIST</p>
        </div>
        <div class="col-sm-6" id="recipeList">
            <p id="recipeListTitle">RECIPE LIST</p>
        </div>
    </div>
</div>
<script src="buildRecipeScript.js"></script>