<br>
   <div class="container">
      <div class="row align-items-center content">
         <div class="col-md-6 text-center">
            <div class="row justify-content-center">
               <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                  <h2>Ethical Eating</h2>
                  <p>A website application that helps you find ingredient substitutions that have a lower ethical impact for your favorite recipes.</p>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <a href= "/choose_recipe"><button type="button" class="btn btn-primary">Choose Recipe</button></a>
            <p class = "text-center">View one of the common recipes we already have available!</p>
         </div>
         <div class="col-md-6"></div>
            <a href= "/build_recipe"><button type="button" class="btn btn-primary">Build Recipe</button></a>
            <p class = "text-center">Create your own recipe from a list of ingredients!</p>
      </div>
   </div>
</br>