<br>
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h2>Ethical Eating</h2>
            <p>A website application that helps you find ingredient substitutions that have a lower ethical impact for your favorite recipes.</p>
         </div>
      </div>
      <div class="row justify-content-between">
         <div class="col-md text-center">
            <a href= "/choose_recipe"><button type="button" class="btn btn-primary">Choose Recipe</button></a>  
         </div>
         <div class="col-md text-center"></div>
            <a href= "/build_recipe"><button type="button" class="btn btn-primary">Build Recipe</button></a>
      </div>
      <div class="row">
         <div class="col-md-6">
            <p class = "text-center">View one of the common recipes we already have available!</p>
         </div>
         <div class="col-md-6">
            <p class = "text-center">Create your own recipe from a list of ingredients!</p>
         </div>
      </div>
   </div>
</br>