<br>
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h2>Ethical Eating</h2>
            <p>A website application that helps you find ingredient substitutions that have a lower ethical impact for your favorite recipes.</p>
         </div>
      </div>
      <br/>
      <div class="row">
         <div class="mx-auto"><img style="height:18rem;"src="breakfast-colour.svg"/></div>
      </div>
      <div class="row justify-content-between">
         
         <div class="col-md text-center pt-2">
            <a href= "/choose_recipe"><button type="button" class="btn btn-info" style="border-radius: 18px; font-size: 18px; width: 150px;">Choose Recipe</button></a>  
         </div>
         <div class="col-md text-center pt-2">
            <a href= "/build_recipe"><button type="button" class="btn btn-info" style="border-radius: 18px; font-size: 18px; width: 150px;"><b>Build Recipe</b></button></a>
         </div>
      </div>
      <div class="row justify-content-between">
         <div class="col-md-6">
            <br/>
            <p class = "text-center">View one of the common recipes we already have available!</p>
         </div>
         <div class="col-md-6">
            <br/>
            <p class = "text-center">Create your own recipe from a list of ingredients!</p>
         </div>
      </div>
   </div>
</br>