<div class="container-fluid">
    <h3>{{recipe}}</h3>
    <ul class="list-group">
        {{#each ingredients}}
        <div class="d-inline">
            <li class="list-group-item">{{this}}
                <form action="https://spooky-wizard-97644.herokuapp.com/view_substitutes" method="get">
                    <button class="btn btn-primary" name="ingredient" value="{{this}}">View Substitutes</button>
                </form>
            </li>
        </div>
        {{/each}}
    </ul>
</div>