<br>
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h2>Water Footprint</h2>
            <p><b>What does water impact mean and how is it calculated?</b></p>
            Everything we eat takes water to grow. The water use is divided into 3 categories: <span style="color:green;">green</span>, <span style="color:darkgrey;">grey</span>, and <span style="color:blue;">blue</span>.<br/>
            <span style="color:green;">Green water</span> is water that comes from precipitation and is stored in the soil and the plant's roots.<br/>
            <span style="color:blue;">Blue water</span> is freshwater both at the surface (rivers and lakes) and underground (water table). <br/>
            <span style="color:grey;">Grey water</span> is polluted water that has been contaminated with pesticides from agricultural runoff, or domestic activity like laundry.<br/><br/>
            <p><b>How did we calculate the water impact?</b></p>
            The value we display as the "Ethical Impact" for each ingredient is the average of the green, blue, and grey water values for that ingredient.<br/>
            <br/>
            <p><b>Why is it important?</b></p>
            Knowing the water footprint of ingredients in the food you eat can help you make water-conscious choices about what you choose to cook with.<br/>
            Global freshwater reserves have been shrinking in recent decades, as population growth and increasing temperatures cause significant shifts in the availability of freshwater.<br/>
            Agriculture is one of the largest global drains on water, and by making choices to prioritize crops with a smaller water footprint, we can contribute to ethical water use in this area.<br/>
         </div>
      </div>
      <br/>



      </div>
   </div>
</br>