#nav_avatar{
    width: 15px; 
    height:15px; 
    display:inline-block; 
    vertical-align: middle;
}

.alert {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

table{
    font-size:0.95rem;
}